.github
man
data-raw
data
inst
revdep

.gitattributes
.Rbuildignore

LICENSE
LICENSE.md
cran-comments.md
NEWS.md
_pkgdown.yml
.travis.yml
DESCRIPTION
NAMESPACE
*.Rproj

*/.gitignore

dynbenchmark/derived
dynbenchmark/manuscript
dynbenchmark/results
dynbenchmark/package
dynbenchmark/raw
